<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>top page</title>
<style type="text/css">
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}
</style>
<link rel="stylesheet"
	href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
	integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
	crossorigin="anonymous">
</head>
<body>
<h1>form1</h1>

<p th:text="${msg}">please wait...</p>
<p th:text="${result}">please wait...</p>
<form class="pure-form" method="post" action="/form1" >
    <input type="text" name="text1" th:value="${value}" /><br />
    <input type="text" name="text2" th:value="${text2}" /><br />
    <input class="pure-button pure-button-primary"type="submit" value="Click" />
</form>
</body>
</html>