<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>選択オブジェクト</title>
<style type="text/css">
h1 {
	font-size: 18pt;
	font-weight: bold;
	color: gray;
}

body {
	font-size: 13pt;
	color: gray;
	margin: 5px 25px;
}

tr {
	margin: 5x;
}

th {
	padding: 5px;
	color: white;
	background: darkgray;
}

td {
	padding: 5px;
	color: black;
	background: #f0f0f0;
}
</style>
<script th:inline="javascript">
function action(){
	var val = document.getElementById("text1").value;
	var res = parseInt(val * ((100 + /*[[${tax}]]*/) / 100))
	document.getElementById("msg").innerHTML = "include tax: " + res ;
}
</script>
</head>
<body>
	<h1>インライン</h1>
	<p id="msg"></p>
	<input type="text" id="text1"></input>
	<button onclick="action()">action</button>
</body>
</html>